.complet {
    margin: .5vw;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}

.complet__div {
    -webkit-box-flex: auto;
    -ms-flex: auto;
    flex: auto;
    width: 200px;
    margin: .5vw;
}

.complet__div-img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 400px) {
    .complet__div{
        margin: 0;
    }
    .complet{
        padding: 0;
    }
}

.gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
 }
 .gallery-img{
    display: -webkit-flex;
    display: flex;
 }

 // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .header__logo {
        width: 80%;
        margin: 2rem 0;
        padding-top: 8rem;
        margin-bottom: 0px;
    }
    .header__image {
        min-height: 100vh;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .header__title{
        font-size: $s-large;
        color: $bg-blanco;
    }
    .medalla{
        width: 65px;
        height: 65px;
    }
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .header__image {
        min-height: 100vh;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .header__logo {
        width: 65%;
        margin: 2rem 0;
        padding-top: 8rem;
        margin-bottom: 0px;
    }
    .header__title{
        font-size: $s-large;
        color: $bg-blanco;
    }
    .medalla{
        width: 65px;
        height: 65px;
    }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
    .header__image {
        min-height: 100vh;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .header__logo {
        width: 25%;
        margin: 2rem 0;
        padding-top: 8rem;
        margin-bottom: 0px;
    }
    .header__title{
        font-size: $s-large;
        color: $bg-blanco;
    }
    .medalla{
        width: 65px;
        height: 65px;
    }
 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
    .header__image {
        min-height: 100vh;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .header__logo {
        width: 25%;
        margin: 2rem 0;
        padding-top: 8rem;
        margin-bottom: 0px;
    }
    .header__title{
        font-size: $s-large;
        color: $bg-blanco;
    }
    .medalla{
        width: 85px;
        height: 85px;
    }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    .header__image {
        min-height: 100vh;
        background-image: url('../images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }

    .header__logo {
        width: 25%;
        margin: 2rem 0;
        padding-top: 8rem;
        margin-bottom: 0px;
    }
    .header__title{
        font-size: $s-large;
        color: $bg-blanco;
    }
    .medalla{
        width: 90px;
        height: 90px;
    }
 }
