body {
    font-family: $font-cookie;
    font-weight: $weight-regular;
}

h3 {
    font-size: $x-large;
}

.title__principal {
    font-size: $xxxx-large;
}
.subtitle__principal {
    font-size: $xx-large;
}
.subtitle__principal-texto{
    font-size: $large;
}
.card__texto {
font-family: $font-pt-sans;
font-size: $s-large;
}

.card__texto-subtext {
font-size: $x-large;
font-weight: $weight-regular;
}

.servicios__cursor {
    cursor: pointer;
}