//ESQUEMA DE COLORES
$bg-rosa: #E39FC6;
$bg-fondo: #efdfdf;
$bg-fucsia: #E72067;
$bg-blanco: #FFF;
$bg-negro: #000;
$bg-orange: #f56832;
$bg-blue: #3b5998;

//TIPOGRAFIA
$font-cookie: 'Cookie', cursive;
$font-pt-sans: 'PT Sans', sans-serif;

//PESO DE FUENTES
$weight-regular: 400;
$weight-bold: 700;

//TAMAÑO DE FUENTES
$xxxx-large: 36px;
$xxx-large: 32px;
$xx-large: 28px;
$x-large: 25px;
$m-large: 22px;
$s-large: 20px;
$large: 18px;
$medium: 16px;
$small: 12px;